.DS_Store
.#*
*~

# Godot-specific ignores
.import/
addons/GDBehavior/Composite/ParallelSimple.gd
addons/GDBehavior/Decorator/MeetsConditionsCount.gd
addons/GDBehavior/TickLogging.gd
examples/logger
# default_env.tres
tests/

experimental/NOTES_Graph.txt
